@import "../../config.rasi"

window {
  location : northeast;
  width    : 200px;
  x-offset: 0px;
  y-offset: 0px;

  background-color: @bg1;
  border: 1px;
  border-color: @bg3;
  border-radius: 7px;

  children: [listview];
}